@using ToDoList.Frontend.Clients
@using ToDoList.Frontend.Views
@inject IToDoItemsClient ToDoItemsClient
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>

<h1>Můj Dashboard</h1>
<table class="table table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th><button class="pink-button" @onclick="() => SortByIdDesc(toDoItems)">Seřaď podle ID</button></th>
            <th></th>
            <th><button class="pink-button" @onclick="() => SortByNameAsc(toDoItems)">Seřaď podle názvu</button></th>
            <th><button class="pink-button" @onclick="() => SortByCategoryAsc(toDoItems)">Seřaď podle kategorie</button>
            </th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Popis</th>
            <th>Kategorie</th>
            <th>Hotovo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (toDoItems is not null)
        {
            @foreach (var toDoItem in toDoItems)
            {
                <tr class="table-secondary">
                    <td>@toDoItem.ToDoItemId</td>
                    <td>@toDoItem.Name</td>
                    <td>@toDoItem.Description</td>
                    <td>@toDoItem.Category</td>
                    <td>@toDoItem.IsCompleted</td>
                    <td>
                        <button class="btn btn-secondary" @onclick="() => EditItemById(toDoItem)">Edit</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code
{
    private List<ToDoItemView>? toDoItems;

    protected override async Task OnInitializedAsync()
    {
        toDoItems = await ToDoItemsClient.ReadItemsAsync();
    }

    public void SortByIdDesc(List<ToDoItemView> toDoItems)
    {
        toDoItems?.Sort((a, b) => b.ToDoItemId.CompareTo(a.ToDoItemId));
    }

    public void SortByNameAsc(List<ToDoItemView> toDoItems)
    {
        toDoItems?.Sort((a, b) => a.Name.CompareTo(b.Name));
    }

    public void SortByCategoryAsc(List<ToDoItemView> toDoItems)
    {
        toDoItems?.Sort((a, b) => a.Name.CompareTo(b.Name));
    }

    public void SortByIsCompletedAsc(List<ToDoItemView> toDoItems)
    {
        toDoItems?.Sort((a, b) => a.IsCompleted.CompareTo(b.IsCompleted));
    }

    public void EditItemById(ToDoItemView toDoItem)
    {
        NavigationManager.NavigateTo($"editToDoItem/{toDoItem.ToDoItemId}");
    }
}

<!-- a mezi píšeš komentář -->
